- @listing.each_slice(3) do |listings|
	.row
		- listings.each do |listing|
			.col-md-4
				.listing
					.image_wrapper
						= link_to listing do
							= image_tag listing.image.url(:medium)
					%h2= link_to listing.title, listing